
.container{
    background-color: #f5f5f5e6;   
    width: 30%;
    margin-top: 10%;
    text-align: center;
}




.p1{
    color: black;
    font-weight: 500;
}


.p2{
    color: black;
    font-size: x-large;  
    font-weight: 500;
    justify-content: center;
}


.title{
    color: black;
    font-size: 40px;  
    font-weight: 500;
    justify-content: center;  
}


.subt{
    color: black;
    font-size: 30px;  
    font-weight: 500;
    justify-content: center;  
}